@import "../components/logo";
@import "../components/social-list";

.footer {
  background-color: $dark-background;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  @extend %container;
  display: flex;
  align-items: baseline;
}

.address {
  color: $text-on-dark-background;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
}

.address__list {
  @extend %list;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  @extend %link;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $link-active;
  }
}

.join {
  margin-left: 70px;
}

.join__text {
  margin-bottom: 20px;
  color: $text-on-dark-background;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.form-footer {
  margin-left: auto;
}

.form-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $text-on-dark-background;
}

.form-footer__container {
  display: flex;
}

.form-footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: $text-on-dark-background;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-footer__icon {
  margin-left: 10px;
  fill: $text-on-dark-background;
}

.button--with-icon {
  display: flex;
}
