@import "../components/logo";
@import "../components/button";

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--header-background);
}

.header__container--flex {
  @extend %container;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  @extend %list;
  display: flex;
  align-items: center;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  @extend %link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--link-active);
  }
  &.cureent {
    color: var(--link-active);
    position: relative;
  }
}

.cureent::after {
  content: "";
  display: block;
  position: absolute;

  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--link-active);
  border-radius: 2px;
}

.header-contakt {
  @extend %list;
  display: flex;
  margin-left: auto;
}

.header-contakt__item:nth-child(1) {
  margin-right: 50px;
}

.header-contakt__link {
  @extend %link;
  display: flex;
  align-items: center;
  color: var(--secondery-text-color);
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--link-active);
  }
}

.header-contakt__icon {
  fill: #757575;
  margin-right: 10px;

  .header-contakt__link:hover &,
  .header-contakt__link:focus & {
    fill: var(--link-active);
  }
}
