@import "../components/social-list";

.team {
  @extend %section;
  background-color: var(--grey-background);
}
.container {
  @extend %container;
}

.team__title {
  @extend %section-title;
}
.team__list {
  @extend %list;
  display: flex;
}

.team__card-name {
  flex-basis: calc((100%-90px) / 4);
  margin-left: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: $header-background;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  color: $secondery-text-color;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
