.logo {
  @extend %link;
  color: var(--text-logo-two);
  font-family: "Raleway", sans-serif;
  @include font(700, 26px);
}

.logo--right {
  margin-right: 93px;
}

.logo__span {
  color: var(--text-logo-one);
}

.logo--wight-color {
  color: var(--text-logo-three);
}
